main {
    background-color: #091521;
    height: 700px;
    padding-top: 50px;
}

.contact-body {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.form-content {
    background-color: rgba(69, 98, 126, 0.322);
    color: white;
    width: 60%;
    padding: 40px;
}

.form-content h2 {
    font-family: 'audiowide';
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.form-content form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form-content form label {
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

.form-content form input {
    background-color: #091521;
    color: rgb(151, 151, 151);
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form-content form textarea {
    background-color: #091521;
    color: rgb(151, 151, 151);
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-content form button {
    background-color: #091521;
    border: 1px solid gray;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    color: white;
}

.form-content form button:hover {
    background-color: white;
    color: blue;
}

.contact-content {
    background-color: #12283d;
    color: #cbdfec;
    width: 40%;
    padding: 40px;
}

.contact-content h2 {
    text-transform: uppercase;
    font-family: sans-serif;
}

.contact-content h5 {
    color:rgb(151, 151, 151);
    padding-top: 25px;
    font-size: 15px;
}

.contact-content i {
    padding: 5px;
    background-color: #091521;
    color: white;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    main {
        height: 1100px;
    }
    .contact-desktop-view {
        display: none;
    }

    .contact-body {
        width: 90%;
        flex-direction: column;
    }
    
    .contact-content , .form-content form button {
        width: 100%;
    }

    .form-content , .form-content form {
        width: 100%;
    }

    .form-content {
        border-bottom: 3px solid gray;
        padding: 25px 15px;
    }
}

@media (min-width: 501px) and (max-width: 1023px) {
    .desktop-navigation , .mobile-main-content footer , .contact-desktop-view  {
        display: none;
    }

    main {
        height: 1100px;
    }
    .contact-desktop-view {
        display: none;
    }

    .contact-body {
        width: 90%;
        flex-direction: column;
    }
    
    .contact-content {
        width: 100%;
    }

    .form-content , .form-content form {
        width: 100%;
    }

    .form-content {
        border-bottom: 2px solid gray;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 1024px) {
    .mobile-menu-button {
        display: none;
    }

    .form-content {
        border-right: 3px solid gray;
    }
}