/* FOR MOBILE */
@media screen and (max-width: 500px) {

    .desktop-navigation,
    .desktop-main-content {
        display: none;
    }
}

header {
    background-color: #091521;
    height: 70px;
}

.mobile-menu-button {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mobile-menu-content {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.753);
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu-content>a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
}

/*main {

} */

footer {
    background-color: #12283d;
    color: white;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    height: 40px;
}

footer>.socmed-links {
    height: 100%;
    width: 100%;
}

footer>.socmed-links>ul {
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer>.socmed-links>ul>li>a {
    color: #e5e8eb;
}

/* FOR DESKTOP */
@media screen and (min-width: 1024px) {

    .mobile-menu-button,
    .mobile-main-content {
        display: none;
    }

    .desktop-navigation {
        font-family: sans-serif;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .desktop-navigation>a {
        text-decoration: none;
        cursor: pointer;
        color: white;
        transition: 0.8s;
    }

    .desktop-navigation>a:hover {
        color: white;
        padding: 10px;
        border: 2px solid gainsboro;
        transform: scale(1.05);
    }

    /* Main */

    footer {
        background-color: #091521;
        height: 60px;
        width: 100%;
    }

    footer>.socmed-links {
        height: 100%;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .socmed-links>ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .socmed-links>ul>li>a {
        text-decoration: none;
        color: #e5e8eb;
        height: 50px;
        display: flex;
        align-items: center;
    }

    ul>li>a:hover {
        border: 2px solid gray;
        border-radius: 10%;
        background-color: transparent;
        color: white;
        cursor: pointer;
        padding: 20px;
    }
}