* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #091521;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
}

.mobile-menu-button {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mobile-menu-content {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.753);
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu-content > a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
}

.website-navigation {
    font-family: sans-serif;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.website-navigation a {
    text-decoration: none;
    color: white;
}

.website-navigation a:hover {
    color: white;
    border: 2px solid gray;
    padding: 10px;
    transition-delay: 0.4s;
    cursor: pointer;
}

    
footer {
    background-color: rgb(60, 80, 90);
    width: 100%;
    height: 50px;
}
