main {
    background-color: #091521;
    color: white;
    height: 800px;
    width: 100%;
}

.contact-content {
    height: 80%;
    width: 80%;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.contact-content > article {
    width: 100%;
}

.contact-content > article > h1 {
    font-family: 'Audiowide';
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.contact-content > article > p {
    font-family: sans-serif;
}

span a {
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.contact-content > form {
    width: 100%;
    margin-bottom: 50px;   
    display: flex;
    flex-direction: column;
}

.contact-content > form > label {
    font-family: sans-serif;
}

.contact-content > form > input {
    background-color: transparent;
    color: rgb(151, 151, 151);
    border: 1px solid rgb(102, 100, 100);
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 0;
    width: 100%;
    height: 40px;
}

.contact-content > form > textarea {
    background-color: transparent;
    color: rgb(151, 151, 151);
    border: 1px solid rgb(102, 100, 100);
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
}

.contact-content > form > button {
    width: 100%;
    margin-top: 20px;
}

@media (min-width: 501px) and (max-width: 1023px) {
    .desktop-navigation , .mobile-main-content footer {
        display: none;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 1024px) {
    .mobile-menu-button {
        display: none;
    }
    
    .contact-content form , input , textarea {
        width: 70%;
    }

    .contact-content > form > button {
        width: 50%;
        height: 50px;
    }
    .contact-content > article {
        margin-bottom: 30px;
    }

    .contact-content {
        height: 100%;
        width: 70%;
    }

    .contact-content label {
        font-size: 19px;
    }

    .contact-content p {
        font-size: 17px;
    }

}