main {
    background-color: #091521;
    color: white;
    height: 1000px;
    width: 100%;
}

.aboutme-content {
    width: 70%;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

article > h1 {
    font-family: 'Audiowide';
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

article > h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

article h3 {
    font-family: sans-serif;
}

article .hobbies p {
    font-family: sans-serif;
}

.mobile-section a , .desktop-section a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(187, 180, 180);
}

article > .hobbies {
    margin-bottom: 50px;
}

article > a {
    margin-top: 30px;
}


/* FOR MOBILE */
@media screen and (max-width: 500px) {
    
    .desktop-section {
        display: none;
    }

    .aboutme-content {
        width: 80%;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 1024px) {

    .mobile-section {
        display: none;
    }

    main {
        height: 1100px;
    }

    article {
        height: 1000px;
    }
    article .hobbies p {
        font-family: sans-serif;
        font-size: 18px;
    }

    .hobbies {
        border-left: 3px solid grey;
        padding-left: 30px;
    }

    .desktop-section > div {
        margin-bottom: 50px;
    }

    article > h2 {
        margin-top: 50px;
    }
}

@media (min-width: 501px) and (max-width: 1023px) {
    .desktop-navigation , .mobile-main-content footer , .desktop-section {
        display: none;
    }
}