* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #13283e;
    width: 100%;
    height: 50px;

}

.website-navigation {
    font-family: sans-serif;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.website-navigation a {
    display: block;
    text-decoration: none;
    color: white;
}


.website-navigation a:hover {
    height: 100%;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    background-color: #091521;
    color: white;
    width: 100%;
    height: 700px;
}


footer {
    background-color: rgb(60, 80, 90);
    width: 100%;
    height: 50px;
}
